# GCP
GOOGLE_APPLICATION_CREDENTIALS=./credentials/service-account.json
GCP_PROJECT_ID=tech-challenge-fase2-507116
GCS_BUCKET=tech-challenge-fase2-507116-datalake

# Kafka
KAFKA_BROKER=localhost:9092
KAFKA_TOPIC=educacao.avaliacao.medicao

# MongoDB
MONGO_URI=mongodb://admin:adminpassword@localhost:27017/

# Postgres / pgvector
POSTGRES_URL=postgresql://postgres:postgrespassword@localhost:5432/educacao_db
